@font-face {
  font-family: 'Vazir Matn';
  src: url('./static/Vazirmatn-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* or fallback */
}

@font-face {
  font-family: 'Vazir Matn';
  src: url('./static/Vazirmatn-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap; /* or fallback */
}

body {	
	font-family: sans-serif, "Liberation Sans", Arial, Helvetica;
    font-style: normal;
}

/* Arabic text */
.arabic-verse {
    direction: rtl;
    font-family: 'Vazir Matn', Arial, sans-serif;
    font-size: 1.4rem;
    line-height: 1.9;
    font-weight: normal;
    text-align: right;
    width: calc(100% - 10px);
    display: block;
    margin-bottom: 40px;
    padding-left: 7px;
}
.surah-link { cursor: pointer; }
/* Fixed top bar */
#top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #4CAF50; 
  color: #FFFFFF;
  padding: 10px 0;
  text-align: center;
  z-index: 1001; /* Ensure the top bar is above other content */
}

/* Search container */
.search-container {
  display: inline-flex; /* Changed to inline-flex */
  align-items: center; /* Align items vertically */
}



#search-btn,
#contents-btn,
#prev-chapter-btn,
#next-chapter-btn,
#prev-verse-btn,
#next-verse-btn {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #4CAF50; /* Lighter shade of green */
    color: #FFFFFF;
    border: none;
    border-radius: 25px; /* Larger border radius for a more rounded button */
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle box shadow for depth */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}
#search-btn-mobile,
#prev-verse-btn-mobile,
#next-verse-btn-mobile,
#contents-btn-mobile,
#search-btn-modal {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #388E3C; /* Slightly darker shade of green */
    color: #FFFFFF;
    border: none;
    border-radius: 25px; /* Larger border radius for a more rounded button */
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle box shadow for depth */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

/* Style for disabled state */
#prev-chapter-btn.disabled,
#next-chapter-btn.disabled {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #CCCCCC; /* Disabled button background color (light gray) */
    color: #666666; /* Disabled button text color (dark gray) */
    border: none;
    border-radius: 25px; /* Larger border radius for a more rounded button */
    cursor: not-allowed; /* Change cursor to indicate button is not clickable */
    box-shadow: none; /* Remove box shadow for disabled button */
    opacity: 0.5; /* Reduce opacity to visually indicate disabled state */
}


/* Custom CSS for Surah List layout */
.surah-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}

.surah-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ccc;
}

.surah-info {
  text-align: left;
}

/* Style for the container holding translation and Arabic text */
.verse-wrapper {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Align items with space between */
  width: 100%; /* Take up full width */
}

/* Style for translation verse */
.translation-verse {
    width: calc(100% - 10px);
    display: block;
    margin-bottom: 40px;
	padding-right: 7px;
}

.subtitle {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    text-align: center;
    font-size: 90%;
    font-style: italic;
	color: #007F00;
}

.footnotes {
    color: #007F00;
    margin-bottom: 40px;
    font-style: italic;
    font-size: 90%;
}

/* Adjust spacing */
.col-md-6 {
  padding-right: 15px;
  padding-left: 15px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
/* Style for surah number and Arabic surah number */
.translation-verse::before {
  content: attr(data-verse-number); /* Get the verse number from the data attribute */
    border: solid #808080 1px;
    padding: 0px 2px;
    border-radius: 5px;
    margin: 0 5px 0 0;
    font-size: 130%;
}
.arabic-verse::before {
    content: attr(data-arabic-verse-number);
    border: solid #808080 1px;
    padding: 0px 2px;
    border-radius: 5px;
    margin: 0 0 0 5px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .desktop-top-bar {
    display: none; /* Hide desktop top bar on mobile */
  }

  .mobile-bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1001;
    background: #4CAF50; 	
  }
}
/* Media query for desktop devices */
@media (min-width: 769px) {
  .mobile-bottom-bar {
    display: none; /* Hide mobile bottom bar on desktop */
  }
}
@media (min-width: 768px) {
  .container {
    padding-top: 60px; /* Adjust this value according to the height of your top bar */
  }
}
.highlight {
    background-color: #C8E6C9;
}
