    @font-face {
      font-family: 'Vazir Matn';
      src: url('./static/Vazirmatn-Regular.ttf') format('truetype'); /* Adjust the path accordingly */
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'Vazir Matn';
      src: url('./static/Vazirmatn-Bold.ttf') format('truetype'); /* Adjust the path accordingly */
      font-weight: bold;
      font-style: normal;
    }
	
/* Arabic text */
.arabic-verse{
    direction: rtl; /* Right-to-left text direction for Arabic */
    font-family: 'Vazir Matn', sans-serif;
    font-style: normal;
    font-size: 140%; 
}

/* Fixed top bar */
#top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, #dcdcdc, #a0a0a0); 
  color: #000;
  padding: 10px 0;
  text-align: center;
  z-index: 1001; /* Ensure the top bar is above other content */
}

/* Search container */
.search-container {
  display: inline-flex; /* Changed to inline-flex */
  align-items: center; /* Align items vertically */
}

.search-container input[type=text] {
    padding: 6px;
    font-size: 17px;
    width: 190px;
    border: 1px solid #999;
    border-radius: 5px;
    height: 30px;
}

.search-container button,
#contents-btn,
#prev-chapter-btn,
#next-chapter-btn {
  padding: 6px 10px;
  margin-left: 10px;
  background: #007bff;
  color: #fff; /* Text color changed to white */
  font-size: 17px;
  border: none;
  cursor: pointer;
}

/* Style for disabled state */
#prev-chapter-btn.disabled,
#next-chapter-btn.disabled {
  background-color: #999;
}

/* Custom CSS for Surah List layout */
.surah-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}

.surah-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ccc;
}

.surah-info {
  text-align: left;
}

/* Style for the container holding translation and Arabic text */
.verse-wrapper {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Align items with space between */
  width: 100%; /* Take up full width */
}

/* Style for translation verse */
.translation-verse {
    width: calc(100% - 10px);
    display: block;
    margin-bottom: 40px;
	padding-right: 7px;
}

.arabic-verse {
    text-align: right;
    width: calc(100% - 10px);
    display: block;
    line-height: 40px;
    margin-bottom: 40px;
	padding-left: 7px;
}

.subtitle {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    text-align: center;
    font-size: 90%;
    font-style: italic;
	color: #0000ff;
}

.footnotes {
    color: #000;
    margin-bottom: 40px;
    border-top: 1px solid #a1a1a1;
    border-bottom: 1px solid #a1a1a1;
    font-style: italic;
    font-size: 90%;
}

/* Adjust spacing */
.col-md-6 {
  padding-right: 15px;
  padding-left: 15px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
/* Style for surah number and Arabic surah number */
.translation-verse::before {
  content: attr(data-verse-number); /* Get the verse number from the data attribute */
    border: solid #808080 1px;
    padding: 0px 2px;
    border-radius: 5px;
    margin: 0 5px 0 0;
    font-size: 130%;
}
.arabic-verse::before {
    content: attr(data-arabic-verse-number);
    border: solid #808080 1px;
    padding: 0px 2px;
    border-radius: 5px;
    margin: 0 0 0 5px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .desktop-top-bar {
    display: none; /* Hide desktop top bar on mobile */
  }

  .mobile-bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1001;
    background: linear-gradient(to right, #dcdcdc, #a0a0a0); 	
  }
}
/* Media query for desktop devices */
@media (min-width: 769px) {
  .mobile-bottom-bar {
    display: none; /* Hide mobile bottom bar on desktop */
  }
}
@media (min-width: 768px) {
  .container {
    padding-top: 60px; /* Adjust this value according to the height of your top bar */
  }
}
.highlight {
    background-color: #20c997;
}
