body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 60px;
}

.surah-info {
    text-align: center;
    margin-bottom: 15px;
}

.arabic {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.translation {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}
.ayah {
    height: 200px; /* Sesuaikan tinggi tetap sesuai kebutuhan */
    overflow: auto; /* Tambahkan overflow: auto; untuk mengaktifkan scrolling jika konten terlalu panjang */
}

#playStopButton,
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-container {
	box-sizing: border-box;
    position: fixed;
    bottom: 0;
	max-width: 600px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.button-container button {
    width: 30%; /* Ubah lebar sesuai kebutuhan */
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #2980b9;
}
#backButton {
    margin-right: auto;
}

#nextButton {
    margin: 0 auto;
}

#playStopButton {
    margin-left: auto;
}
#searchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Atur sesuai kebutuhan */
}

#searchAyat {
    width: 70%; /* Atur lebar sesuai kebutuhan */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#searchButton {
    width: 25%; /* Atur lebar sesuai kebutuhan */
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #2980b9;
}
#surahListButton {
    width: 30%; /* Sesuaikan lebar sesuai kebutuhan */
    padding: 10px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#searchButton:hover, #surahListButton:hover {
    background-color: #2980b9;
}



@media only screen and (max-width: 600px) {
    input[type="text"] {
        width: 100%;
    }
}

