body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
}

.surah-info {
    text-align: center;
    margin-bottom: 15px;
}

.arabic {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.translation {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.ayah {
    height: 200px;
    overflow: auto;
}

#playStopButton,
button {
    display: block;
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-container {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.button-container button {
    width: 30%;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #2980b9;
}

#backButton {
    margin-right: auto;
}

#playStopButton {
    margin-left: auto;
}

#searchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#surahInfo {
    display: flex;
    align-items: center;
}

#searchAyat {
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#searchButton,
#surahListButton {
    width: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#searchButton:hover,
#surahListButton:hover {
    background-color: #2980b9;
}

.surah-name-malay {
    margin-left: 10px;
    background-color: #f39c12;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
    input[type="text"] {
        width: 100%;
    }
}
