body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
}

.surah-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ayat-info {
    display: flex;
    align-items: center;
}

.surah-name-arabic {
    flex-grow: 1;
    text-align: center;
}


.arabic {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.translation {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.ayah {
    height: 200px;
    overflow: auto;
}

#playStopButton,
button {
    display: block;
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-container {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.button-container button {
    width: 30%;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #2980b9;
}

#backButton {
    margin-right: auto;
}

#playStopButton {
    margin-left: auto;
}

#searchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#surahInfo {
    display: flex;
    align-items: center;
}

#searchAyat {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#goButton {
    width: 25%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#goButton:hover {
    background-color: #2980b9;
}

#searchButton,
#surahListButton {
    width: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#searchButton:hover,
#surahListButton:hover {
    background-color: #2980b9;
}

.surah-name-malay {
    margin-left: 10px;
    background-color: #f39c12;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
    input[type="text"] {
        width: 100%;
    }
}
.hidden {
    display: none !important;
}
/* Gaya untuk tombol side navigation */
#toggleSearchBox {
    cursor: pointer;
}

/* Gaya untuk side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 36px;
    margin-left: 50px;
}

/* Gaya untuk menggeser konten utama saat side navigation menu terbuka */
#main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Styles for Surah List */
.surah-list {
    max-height: 300px; /* Set a maximum height for the container */
    overflow-y: auto; /* Enable vertical scrolling if the content exceeds the container height */
    transition: max-height 0.5s;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #111;
    color: #fff;
}

.surah-list a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
}

.surah-list a:hover {
    background-color: #333;
}
